
:root{
    --color-primario: #181818;   
    --color-secundario:#F6F6F6;
    --color-terciario:#22D4FD;
    --color-green: #006666;

}

ul{
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: antiquewhite;
}

img{
    width: 15px;
    height: 15px;
}

.translate{
    display: flex;
    justify-content: end;
    width: 95%;
    margin: auto;
}

.idioma{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);
    position: relative;
}

.idioma:hover{
    background-color: rgb(228, 228, 228);
}

.idiomas{
    position: relative;
    top: 15px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.idiomas li{
    width: 100%;
}

.idiomas li{
    display: block;
    font-size: 15px;
    gap: 5px;
    margin-top: 5px;
    color: var(--color-terciario)
}

.idiomas li a:hover{
    background:rgba(0, 149, 255, 0.356); 
    border: transparent; 
}

.idiomas li img{
    border-radius: 100%;
}

.toggle{
    visibility: visible;
}

#Contacto-info {
    font-size: 42px;  
}
